<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stream de Notificaciones</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<div class="container">
    <h1>📨 Buzón de <span th:text="${usuario}">Usuario</span></h1>

    <div style="text-align: center; margin-bottom: 20px;">
        <a th:href="@{/notificaciones/{u}/nuevo(u=${usuario})}" class="btn-nuevo">
            <i class="fas fa-plus"></i> Nueva Notificación
        </a>
    </div>

    <div id="notificaciones-container">
    </div>
</div>

<script th:inline="javascript">
    /* Pasamos la variable de Java a JS */
    const USUARIO_ACTUAL = /*[[${usuario}]]*/ 'invitado';
</script>

<script src="/js/js.js"></script>

</body>
</html>